{{#if atoz_decommission_date}}
<div class="wrapper">
    <div class="banner banner--half-padding banner--bottom-border">
        <div class="banner__container margin-left--0">
            <div class="banner__heading margin-left--0">
                Important information about this page
            </div>
        </div>
        <div class="banner__body margin-left--0">
            <p>
                This page will be discontinued on {{ atoz_decommission_date }} and will be redirected to our list of <a href="https://www.ons.gov.uk/publications?filter=bulletin&sort=release_date" class="banner__link">published bulletins</a>. 
                This is part of a series of improvements to our website. 
                <a href="https://www.ons.gov.uk/feedback" class="banner__link">Submit feedback</a> to let us know how we can improve our website.
            </p>
        </div>
        {{!-- <p class="margin-top--0 margin-bottom--0 padding-bottom--0 padding-top--0 flex flex-wrap-wrap banner--vertical-center">
            {{{labels.census-banner-logo}}}
            {{{labels.census-banner-text}}}
        </p> --}}
    </div>
</div>
{{/if}}
