<div class="background--gallery margin-top--6">
    <div class="wrapper">
        <div class="js-show-hide">
            <div class="show-hide show-hide--light">
                <div class="js-show-hide__title">
                    <h2 class="show-hide__title">
                        Did you find this page helpful?
                    </h2>
                </div>
                <div class="js-show-hide__content">
                    {{> partials/feedback-form }}
                </div>
            </div>
        </div>
    </div>
</div>