<div class="background--gallery margin-top--6">
    <div class="wrapper">
        <div class="js-show-hide">
            <div class="show-hide show-hide--light">
                <div class="js-show-hide__title">
                    <h2 class="show-hide__title">
                        Did you find this page helpful?
                    </h2>
                </div>
                <div class="js-show-hide__content">
                    <form class="margin-bottom--6 js-feedback-form" action="/feedback" method="post">

                        <div class="form__group">
                            <fieldset>
                                <legend>Did you find what you were looking for?</legend>
                                <input id="found-yes" type="radio" name="found" value="yes">
                                <label for="found-yes">Yes</label>
                                <input id="found-no" type="radio" name="found" value="no">
                                <label for="found-no">No</label>
                            </fieldset>
                        </div>

                        <div class="form__group">
                            <fieldset>
                                <legend>Was the site easy to understand?</legend>
                                <input id="understood-yes" type="radio" name="understood" value="yes">
                                <label for="understood-yes">Yes</label>
                                <input id="understood-no" type="radio" name="understood" value="no">
                                <label for="understood-no">No</label>
                            </fieldset>
                        </div>

                        <div class="form__group">
                            <label for="email" class="block">Email address (optional)</label>
                            <input id="email" type="email" name="email" class="input input--padded width-md--26">
                        </div>

                        <div class="form__group">
                            <label for="feedback">Any other feedback (optional)</label>
                            <textarea id="feedback" name="feedback" class="input input--padded width-md--26"></textarea>
                        </div>

                        <input id="uri" type="hidden" name="uri" value="{{uri}}">

                        <button class="btn btn--primary margin-top--2" type="submit">Send</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>