<dl class="language">
    <dt class="language__title">Change language:</dt>
    {{#if_eq location.hostname (concat "cy." (replace location.hostname "cy." ""))}}
        <dd class="language__item">
            <a href="{{> partials/language language="en"}}" class="language__link icon--hide">English (EN)</a>
        </dd>
    {{else}}
        <dd class="language__item">
            <a href="{{> partials/language language="cym"}}" class="language__link icon--hide">Cymraeg (CY)</a>
        </dd>
    {{/if_eq}}
</dl>