<div class="markdown-map-container print--avoid-break">
    <div class="markdown-map-wrap">
        {{{mapHtml}}}
    </div>
    <script type="text/javascript" src="https://cdn.ons.gov.uk/vendor/svg-pan-zoom/3.5.2/svg-pan-zoom.min.js"></script>
    <!-- See also maps.js -->
    <h5 class="print--hide font-size--h6">Download the data</h5>
    <a href="/file?uri={{uri}}.csv" title="csv" class="btn btn--primary print--hide" data-gtm-title="{{{sub (sup title)}}}" data-gtm-type="download-map-csv">.csv</a>
</div>
