<a href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/">
    <img
        class="meta__image meta__image--logo"
        src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/v2/uksa-kitemark-en.svg" 
        alt="These are accredited official statistics. Click for information about types of official statistics."
        height="58"
        width="58"
    />
</a>
