<a href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/">
    {{#if official_statistics_logo_enabled }}
    <img
        class="meta__image meta__image--logo"
        src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/v2/uksa-kitemark-en.png" 
        alt="This is an accredited Official Statistic. Click for information about types of official statistics."
        height="58"
        width="58"
    />
    {{else}}
    <img
        class="meta__image padding-left--half"
        src="/img/national-statistics.png" 
        alt="This is an accredited National Statistic. Click for information about types of official statistics."
        height="47"
        width="47"
    />
    {{/if}}
</a>
