{{#partial "block-main"}}
<div class="wrapper panel--mar margin-bottom--8 adjust-font-size--18 line-height--32">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">
        <div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">
          <h1 class="page-header__title margin-bottom--0" style="font-weight:700">Sorry, there is a problem</h1>
          <p class="margin-bottom--8">To access this page, you need to <a href="/florence/index.html" class="underline-link" title="Florence" target="_self">sign in</a>.</p>
        </div>
		</div>
  </div>
</div>
{{/partial}}

{{!-- Inheriting from base template --}}
{{> base/base}}