{{#partial "block-main"}}
<div class="wrapper panel--mar margin-bottom--8 adjust-font-size--18 line-height--32">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">
        <div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">
          <h1 class="page-header__title margin-bottom--0" style="font-weight:700">Page not found</h1>
          <p>If you entered a web address, check it is correct.</p>
          <p>If you pasted the web address, check you copied the whole address.</p>
          <p class="margin-bottom--8">If the web address is correct, or you selected a link or button, <a href="/aboutus/contactus/generalandstatisticalenquiries" title="Contact ONS" target="_self">contact us</a>.</p>
        </div>
		</div>
  </div>
</div>
{{/partial}}

{{!-- Inheriting from base template --}}
{{> base/base}}
