{{#partial "block-main"}}
<div class="wrapper panel--mar margin-bottom--8 adjust-font-size--18 line-height--32">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">
        <div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">
          <h1 class="page-header__title margin-bottom--0" style="font-weight:700">Sorry, there is a problem with the service</h1>
          <p>Try again later.</p>
          <p>Our scheduled publications can also be found on our <a href="https://backup.ons.gov.uk/" class="underline-link">backup site</a>.</p>
          <p class="margin-bottom--8">If you have any questions, <a href="/aboutus/contactus/generalandstatisticalenquiries" class="underline-link" title="Contact ONS" target="_self">contact us</a>.</p>
        </div>
		</div>
  </div>
</div>
{{/partial}}

{{!-- Inheriting from base template --}}
{{> base/base}}