<fieldset class="margin-top--3">
    <legend>Previous releases</legend>
    <div class="js-checkbox-container">
        <label class="label label--block" for="checkbox-previous">
            Show all releases over time (only showing latest one of each by default)
            <input type="checkbox" id="checkbox-previous" class="js-auto-submit__input" name="allReleases" value="1" {{#if parameters.allReleases}}checked{{/if}}>
        </label>
    </div>
</fieldset>